<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>App time Chatbot is Here you welcomes...</h2>
    <div id="chatbox">
        <p><strong>Bot:</strong> Hello! How can I help you?</p>
    </div>
    <input type="text" id="userInput" placeholder="Type your message...">
    <button onclick="sendMessage()">Send</button>

    <script>
        function sendMessage(){

            let userInput = document.getElementById("userInput").value;
            console.log(userInput);
            let chatbox = document.getElementById("chatbox");
            
            chatbox.innerHTML += `<p><strong>You:</strong> ${userInput}</p>`;
            fetch("/api/chat/", {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({ message: userInput })
            })
            .then(response => response.json())
            .then(data => {
                chatbox.innerHTML += `<p><strong>Bot:</strong> ${data.response}</p>`;
            });
            document.getElementById("userInput").value = "";
        };

    </script>
</body>
</html>